*{
	box-sizing:border-box;
}
body{
	color:#000;
	font-family:Arial,sans-serif;
	max-width:990px;
	margin:0 auto;
	margin-top:10px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}
h1,h2,h3,h4,h5,h6{
	font-family: 'open-sans-condensed-light';
	font-weight:normal;
}
@font-face {
    font-family: 'open-sans-condensed-light';
    src: url('../fonts/open-sans-condensed-light/OpenSans-CondLight-webfont.eot');
    src: url('../fonts/open-sans-condensed-light/OpenSans-CondLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-condensed-light/OpenSans-CondLight-webfont.woff') format('woff'),
         url('../fonts/open-sans-condensed-light/OpenSans-CondLight-webfont.ttf') format('truetype'),
         url('../fonts/open-sans-condensed-light/OpenSans-CondLight-webfont.svg#open_sanscondensed_light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'open-sans-condensed-bold';
    src: url('../fonts/open-sans-condensed-bold/OpenSans-CondBold-webfont.eot');
    src: url('../fonts/open-sans-condensed-bold/OpenSans-CondBold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/open-sans-condensed-bold/OpenSans-CondBold-webfont.woff') format('woff'),
         url('../fonts/open-sans-condensed-bold/OpenSans-CondBold-webfont.ttf') format('truetype'),
         url('../fonts/open-sans-condensed-bold/OpenSans-CondBold-webfont.svg#open_sans_condensedbold') format('svg');
    font-weight: normal;
    font-style: normal;
}
/*@font-face {
    font-family: 'open_sansCnLtIt';
    src: url('OpenSans-CondLightItalic-webfont.eot');
    src: url('OpenSans-CondLightItalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('OpenSans-CondLightItalic-webfont.woff') format('woff'),
         url('OpenSans-CondLightItalic-webfont.ttf') format('truetype'),
         url('OpenSans-CondLightItalic-webfont.svg#open_sansCnLtIt') format('svg');
    font-weight: normal;
    font-style: normal;
}*/

h1{
	color:#ea3239;
	font-family: 'open-sans-condensed-bold';
}
h3{
	color:#ea3239;
	border-bottom:1px solid #ea3239;
	padding-bottom:5px;
}
a h2, a h3{
	color:#ea3239;
	text-decoration: none;
}
#wrapper{
	overflow:hidden;
}
#old-ie, #compatibility-mode{
	display:none;
}
header .menu{
	background-image:url('../img/menu-bg.png');
	height:60px;
	width:100%;
	text-transform: uppercase;
	width:990px;
	font-family:'open-sans-condensed-light';
	border-radius:0;
	border:0;
	display:block;
}
.print-title{
	display:none;
}
header .menu a{
	color:#000!important;
	font-size:22px;
	padding:15px 20px;
	display:inline-block;
}
header .menu a.active{
	font-family: 'open-sans-condensed-bold'
}
header .menu a:hover{
	text-decoration: none;
}
header .crumb{
	background:#ea3239;
	height:25px;
	width:100%;
}
section{
	height:90%;
	padding:15px;
	min-height:100%;
	display:none;
}
#load{
	width:100%;
	background:url(../img/load.gif) center center no-repeat;
	display:none;
	min-height:150px;
	padding-top:100px;
	color:#ea3239;
	text-align:center;
}
#fail{
	/*position:absolute;
	top:30%;
	width:100%;*/
	text-align: center;
	padding:50px;
	display:none;
}
#home{
	padding-left:0;
	padding-right:0;
}
.mobile-title{
	display:none;
	color:#000;
	padding:10px;
}
.mobile-title h1{
	color:rgb(102,167,197);
}
#home #splash {
    height:900px;
    position:relative;
    font-family: 'Open Sans', sans-serif;
    margin:0 auto;
}
#home #splash > div {
    color:white;
    border:1px solid white;
    position:absolute;
    overflow:hidden;
    cursor:pointer;
}
div.splash-title {
    cursor:default;
}
#home #splash > div h3, #splash > div h4 {
    margin:0 0 5px 0;
    padding:0;
}
#home #splash > div h3{
    font-weight:normal;
    margin-bottom:10px;
    border:none;
    color:inherit;
    font-family: 'open-sans-condensed-bold';
}
#home #splash > div h4{
    line-height: 1.3em;
}

.splash-details {
    padding:20px;
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    /*display:none;*/
    opacity:0;
}
.splash-text-flex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.splash-text h4{
	font-size:22px;
	line-height:1.5em;
}
.splash-details.splash-section {
    background: none;
    padding:0;
}
.splash-details.splash-dark-on-light{
    color:#4a4a4a;
    background-color: rgba(255, 255, 255, 0.7);
}
.splash-details.splash-light-on-dark{
    color:#d2eaf7;
    background-color: rgba(51, 105, 130, 0.6);
}

.splash-details h4 {
    font-weight: normal;
}
.splash-details p{
    display:none;
}
#home #splash .splash-mask {
    position:absolute;
    top:0;
    left:0;
}
.splash-details strong{
	font-weight:normal;
	font-family: 'open-sans-condensed-bold';
}
.splash-text .splash-mask {
    width:100%;
    height:100%;
}
#home #splash > div p {
    font-size:12px;
}
.splash-small {
    width:25%;
    height:20%;
}
.splash-medium {
    width:50%;
    height:20%;
}
.splash-large {
    width:50%;
    height:40%;
}
.splash-light {
    background-color:#cfebfa;
}
.splash-mediumlight {
    background-color:#a6d7f4;
}
.splash-dark {
    background-color:#69a8c4;
}
.splash-blacktext {
    color:black;
}
.splash-whitetext {
    color:white;
}
.splash-fade-out-partial .splash-details{
	opacity:0.5;
}
.splash-1 {
    top:0;
    left:0;
}
.splash-2 {
    top:0;
    left:50%;
}
.splash-3 {
    top:0;
    left:75%;
}
.splash-4 {
    top:20%;
    left:50%;
}
.splash-5 {
    top:40%;
    left:0;
}
.splash-6 {
    top:40%;
    left:50%;
}
.splash-7 {
    top:60%;
    left:0;
}
.splash-8 {
    top:60%;
    left:25%;
}
.splash-9 {
    top:80%;
    left:0;
}
.splash-10 {
    top:80%;
    left:50%;
}
.splash-11 {
    top:80%;
    left:75%;
}
.splash-2 img,
.splash-4 img,
.splash-5 img,
.splash-7 img,
.splash-10 img{
	width:100%;
	height:100%;
}

.social-media{
	width:41px;
	height:204px;
	overflow:hidden;
}
.social-media a{
	height:41px;
	width:41px;
	cursor:pointer;
	display:block;
}
.social-media .facebook{
	background:url(../img/social-media/facebook.png);
}
.social-media .twitter{
	background:url(../img/social-media/twitter.png);
}
.social-media .pinterest{
	background:url(../img/social-media/pinterest.png);
}
.social-media .email{
	background:url(../img/social-media/email.png);
}
.social-media .print{
	background:url(../img/social-media/print.png);
}
.social-media .facebook:hover{
	background:url(../img/social-media/facebook-active.png);
}
.social-media .twitter:hover{
	background:url(../img/social-media/twitter-active.png);
}
.social-media .pinterest:hover{
	background:url(../img/social-media/pinterest-active.png);
}
.social-media .email:hover{
	background:url(../img/social-media/email-active.png);
}
.social-media .print:hover{
	background:url(../img/social-media/print-active.png);
}
/*ARTISTS INDEX*/
#artists-search{
	background:white;
	z-index:100;
	padding-bottom:20px;
}
#artists #filter{
	width:40%;
}
#artists #filter.loading{
	background: url(../img/load-select-blue.gif) 98% center no-repeat #efefef;
}
.filter-hidden{
	visibility:hidden;
	height:0;
	margin:0;
	padding:0;
}
.filter-hidden{
	display:none;
}

#artists-index ul{
	list-style: none;
	font-size:16px;
}
#artists-index li{
	padding:3px;
}

#selectAlphaWrapper,.selectWrapper{
	background:#efefef url(../img/down-select.png) 98% center no-repeat;
	/*background:#efefef url(../img/select-down-arrow.png) center right 5px no-repeat;*/
	border:1px solid #ccc;
	border-bottom:2px solid rgb(207,51,51);
	display:inline-block;
	margin-top:1px;
	width:79%;
	min-width:130px;
	position:relative;
}
.selectWrapper.disabled{
	background:#efefef;
}
/*.selectWrapper span.glyphicon{
	color:rgb(207,51,51);
	position:absolute;
	top:25%;
	right:10px;
}
.selectWrapper.disabled span.glyphicon{
	display:none;
}*/
/*.selectWrapper::after{
	position:absolute;
	right:10px;
	content:'\25BE';
	color:#ea3239;
	font-size:36px;
	top:-12px;
}*/
#location .selectWrapper{
	width:200px;
	float:right;
}
#selectAlphaWrapper{
	width:25%;
}
select{
   background: transparent;
   padding: 5px;
   font-size: 14px;
   line-height: 1;
   border: 0;
   border-radius: 0;
   height: 34px;
   -webkit-appearance: none;
   width:100%;
}
.selectWrapper.loading{
	background: url(../img/load-select.gif) 98% center no-repeat #efefef;
}
.selectWrapper.loading span{
	display:none;
}
input[type=text]{
	background:#efefef;
	border:1px solid #ccc;
	border-radius:0;
	border-bottom:2px solid rgb(96,149,182);
	height: 35px;
	font-size: 14px;
	padding:5px;
}
.input-group-btn{
	border:1px solid #ccc;
	border-bottom:2px solid rgb(96,149,182);
	border-left:1px solid rgb(96,149,182);
	height:34px;
}
.blue-icon span{
	color:rgb(96,149,182);
}
.input-group-btn .btn{
	height:32px;
	border:none;
	background:#efefef;
	border-radius:0!important;
}
.input{
	font-size: 14px;
	color:#000;
	display:inline-block;
	font-weight:normal;
	cursor:text;
}
.input span {
  position: absolute;
  padding: 5px;
  margin-left: 3px;
  z-index:2;
}
.input input, .input textarea, .input select {
  position: relative;
  margin: 0;
  padding: 6px;
  background: transparent;
  font: inherit;
}

.information ul{
	-moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	list-style: none;
	margin:0;
	padding:0;
}
.information .galleries a:not(:last-of-type)::after {
	content: ", "
}
.works ul{
	margin:0;
	padding:0;
}
.works li{
	float:left;
	display:block;
	width:320px;
	height:140px;
	margin:0;
	padding:10px;
	overflow:hidden;
}
.works li div{
	overflow:hidden;
}
#artwork .works li{
	width:auto;
	height:auto;
	padding:10px;
	min-height:inherit;
}
.works img{
	width:120px;
	height:120px;
	background:rgb(236,247,253);
	float:left;
	margin-right:15px;
	clear:both;
}
#artwork .works img{
	width:60px;
	height:60px;
	margin:0;
}
.works h4{
	font-size:16px;
	font-family: 'open-sans-condensed-bold';
	margin:0;
}
#in-this-gallery h4{
	font-size:18px;
	margin-bottom:7px;
}
.works p{
	margin:0;
	line-height:1.2em;
}
#artwork .interpretation{
	clear:both;
	padding:10px 0 0 0;
	overflow:hidden;
}

img{
	position:relative;
	font-size:0px;
}
img.featured{
	width:480px;
	height:480px;
	float:left;
	background:rgb(236,247,253);
	margin-right:25px;
}
#artwork-overview img.featured{
	cursor:pointer;
}

img.noImage.featured{
	cursor:default;
}

.overview, .works{
	overflow:hidden;
}

/*MEDIA QUERIES*/

@media (max-width: 990px){
	.leftCol{
		display: none;
	}
}
@media (max-width: 768px){
	#gsa-header,#gsa-footer{
		display:none;
	}
	.crumb{
		display:none;
	}
	#home #splash,
	#home #splash > div{
		overflow:hidden;
	}
	#home #splash{
		height:auto;
	}
	#home #splash > div{
		width:100%;
		height:120px;
		position:relative;
		left:0;
	}
	.mobile-title{
		display:block;
		min-height:100px;
		width:100%;
		text-align: center;
		color: rgb(102,167,197);
		background: rgb(185,221,239);
	}
	.splash-details{
		opacity:1;
	}
	#home #splash .splash-mask{
		width:100%;
		height:100%;
	}
	#home #splash img{
		width:100%;
		height:auto;
	}
	.splash-1,
	.splash-2,
	.splash-4,
	.splash-7,
	.splash-10{
		display:none;
	}
	.menu-trigger{
		background:rgb(212,242,252);
		height:40px;
		cursor:pointer;
		position:relative;
	}
	.menu-trigger:before {
		content:'\2630';
		position:absolute;
		left:20px;
		top:2px;
		font-size:26px;
	}
	header .menu{
		height:auto;
		background:rgb(212,242,252);
		display:none;
		box-shadow:0 0 20px rgb(153,193,207) inset;
	}
	header .menu a{
		color:#000;
		padding:15px 20px;
		display:block;
		width:100%;
	}
	h1{
		font-size:36px;
	}
	img.featured{
		width:100%;
		height:auto;
		float:none;
	}
	.social-media{
		width:205px;
		height:41px;
	}
	.social-media a{
		display:block;
		float:left;
	}
}
@media (max-width: 480px){
	#search > div{
		padding-top:25px;
	}
	#search > div *{
		width:100%!important;
		display:block;
		margin:0!important;
	}
	#location .selectWrapper{
		width:100%;
		float:none;
		margin-bottom:10px;
	}
	#map{
		display:none;
	}
	.splash-text-flex h4{
		line-height:1em;
		font-size:18px;
	}
}
.leftCol{
	/*width:25%;
	height:100%;
	float:left;
	overflow:hidden;*/
	padding-top:45px;
}
.leftCol h1{
	font-size:26px;
	color:#777;
	font-family: 'open-sans-condensed-light';
}
.leftCol h2{
	font-size:24px;
	color:#999;
	cursor:pointer;
}
.rightCol{
	padding-bottom:25px;
}
/* SEARCH */
#search label{
	width:20%;
	line-height:3em;
	font-family: 'open-sans-condensed-bold';
	font-weight:normal;
}
#search input[type=text]{
	width:80%;
}
#search button{
	margin-left:20%;
	min-width:120px;
	font-family: 'open-sans-condensed-bold';
}
.results{
	margin:0;
	padding:0;
}
.results li{
	display: block;
	list-style: none;
	overflow:hidden;
	padding:10px;
}
.results p{
	margin:0 0 0 5px;
}
.results li div.detail{
	border-left: 1px solid #ea3239;
	padding-left:10px;
}
#results .detail h4{
	font-family:'open-sans-condensed-bold';
}

.results.results-objects li div.detail{
	margin-left:154px;
}
.results li img{
	width:144px;
	height:144px;
	background:#ccc;
	float:left;
}
#location input{
	width:80%;
}
/* PADDING FOR LEFTCOL CONTENT */
.h1Pad{
	height:22px;
}
#results h1,#results-location h3,#galleries h1{
	padding-bottom:5px;
	border-bottom:1px solid #ea3239;
	background:white;
	z-index:100;
	margin-top:0;
	padding-top:10px;
}
.results-location-header{
	padding:10px 0;
	background:white;
	width:100%;
}
#location h1{
	border-bottom:1px solid #ea3239;
}
h1 .label,h3 .label{
	background:#ea3239;
	margin-right:5px;
	cursor:default;
}
.label.total-images{
	background:#aaa;
}
h1 .label .glyphicon{
	font-size:22px;
}
h3 .label .glyphicon{
	font-size:15px;
}
#location #results-location h4{
	font-family:'open-sans-condensed-bold';
}
#location #results-location ul{
	list-style: none;
	font-size:16px;
	padding-left:15px;
}
#location #results-location ul{
	list-style: none;
	font-size:16px;
	padding-left:15px;
}
#galleries > div{
	overflow:hidden;
	padding:20px 10px;
}
/* FIREFOX */
footer .menu ul {
    text-align: center;
    padding:0;
    margin:0;
}
footer .menu ul li {
    list-style: none;
    border-right: 1px solid #ccc;
    display: inline-block;
    padding: 0 10px;
    font-size: .75em;
}
footer .menu ul li:last-child {
    border-right: 0;
}
footer .menu ul li a {
    color: #333;
}

@-moz-document url-prefix() { 
  .selectWrapper {
     background:#efefef;
  }
  .selectWrapper.loading{
	background: url(../img/load-select.gif) 93% center no-repeat #efefef;
	}
}

/* PRINT */
@media print {
    .leftCol,header,footer,.click-to-enlarge,.social-media{display:none;}
    *{color:#000;border-color:#000!important;}
    .print-title{
    	display:block;
    	border-bottom:1px solid #000;
    }
}

/* GSA HEADER */
#gsa-header{
	font-family: Arial,sans-serif;
}
#superheader { 
	position: relative;
	height:150px;
	*height: 136px;
	width: 990px;
	margin-left: 0px;
}
#superheader > a > img{
	margin-left:0;
}
#GSAsearchHeader {
	float:right !important;
	text-align:right;
	margin-top: -40px;
}
#searchButton {
	position: relative; 
	top:6px;
	/* ie7 */
	*top: 3px;
	/* !ie7 */
}
#searchBox {
	height:18px;
}
#GSAloginHeader {
	float: right;
	margin-top: 7px;
	position: absolute;
	top: 0;
	right: 0;
}
#GSAloginHeader li {
	float:left;
	font-size:11px;
	padding:0 5px;
	list-style: none;
}
#gray {
	background: url("http://gsablogs.gsa.gov/gsablog/wp-content/themes/gsablogofthefuture/assets/img/overlay.png") repeat-x;
	display:none;
	z-index: 980;
	width:100%;
	height:100%;
	position:fixed;
	top: 0;
	left: 0;
	}
#topnav {
	width:100%;
	height: 55px;
	margin: 10px 0 0 0;
	*margin: 0;
	padding: 0;
	clear:both;
	background: url(http://gsa.gov/resources/images/header_bg.gif);
	position: relative;
	z-index:990;
	}
	#topnav ul{
		padding-left:0;
	}
#topnav ul,#topnav ul li {
	float:left;
	margin: 0;
	}
#topnav ul li a {
	display:block;
    font-family: Geneva, Verdana, sans-serif;
}
#topnav .mainlk { 
	cursor: default;
	height: 55px;
	}
#topnav a.mainlk {
	text-indent: -9999px;
}
#topnav #lkhome .mainlk {
	width: 90px;
	}
#topnav #gsa_offers a.mainlk {
	width: 187px;
	background: url(http://gsa.gov/resources/images/gsa_offers.gif);
	}
#topnav #gsa_offers a.mainlk:hover, #topnav #gsa_offers a.mainlk.over {
	background: url(http://gsa.gov/resources/images/gsa_offers_hover.gif);
	}
#topnav #business_gsa .mainlk{
	width: 255px;
	background: url(http://gsa.gov/resources/images/business_gsa.gif);
	}
#topnav #business_gsa a.mainlk:hover, #topnav #business_gsa a.mainlk.over {
	background: url(http://gsa.gov/resources/images/business_gsa_hover.gif);
	}
#topnav #learn_more .mainlk{
	width: 177px;
	background: url(http://gsa.gov/resources/images/learn_more.gif);
	}
#topnav #learn_more a.mainlk:hover, #topnav #learn_more a.mainlk.over {
	background: url(http://gsa.gov/resources/images/learn_more_hover.gif);
	}
#topnav #lkstore .mainlk{
	width: 141px;
	}
#topnav #blogs .mainlk {
	width: 177px;
	background: url(http://gsa.gov/resources/images/blogs.gif);
}
#topnav #blogs a.mainlk:hover, #topnav #blogs a.mainlk.over {
	background: url(http://gsa.gov/resources/images/blogs_hover.gif);
}
#topnav li .submenu {
	position:absolute;
    width: 750px;
    background:#FFFFFF;
	display:none;
    overflow:hidden;
    border-top:1px solid #CCCCCC;
    padding:15px;
	}
#topnav #business_gsa .submenu {
	width: 490px;
	}
#topnav #learn_more .submenu {
	width: 512px;
	}
#topnav .submenu {
	margin-left: 0;
	}
#topnav li .submenu a {
	color:#323E95;
	}
#topnav li .submenu a:hover {
	text-decoration: underline;
	}
#topnav li .submenu ul {
    padding:0 10px;
	}
#topnav #gsa_offers .submenu ul {
	width: 230px;
	}
#topnav #business_gsa .submenu ul {
	width: 225px;
	}
#topnav #learn_more .submenu ul {
	width: 150px;
	}
#topnav li .submenu ul li {
	width: 100%;
	}
#topnav li .submenu h2 {
	margin:0;
    padding-top: 5px;
    width:100%;
	background: url(http://gsa.gov/resources/images/double_line.gif) repeat-x 0 0;
	font-weight: bold;
	}
#topnav li .submenu h2 a {
	line-height:25px;
    height:25px;
	color: #232a63;
	}
#topnav li .submenu li a {
	line-height: 15px;
	font-size: 11px;
	margin-bottom: 5px;
}
#topnav ul{
	list-style: none;
}

#menu {
	background: none repeat scroll 0 0 #BBC8E8;
	font:normal 0.85em helvetica,arial,sans-serif;
	color: #282E8C;
    margin: 0px;
    padding: 0 1.5%;
	width: 97%;
    display: block;
    font-size:11px;
    height:24px;
    float:left;
}
#menu ul {
	text-transform: none;
	position: relative;
	z-index: 300;
	margin: 0;
	padding: 0;

}
#menu ul li {
	margin: 0 2px;
	float: left;
	position: relative;
	list-style-type: none;
	padding: 0;
}
#menu ul li a {
	-moz-text-shadow: none;
	-webkit-text-shadow: none;
	-opera-text-shadow: none;
	text-shadow: none;
	color: #000099;
	text-decoration: underline;
	padding: 2px 0;
	margin: 0;
	display: block;
	border-bottom: none
}
#menu ul li.current-page-item a {
	color: #000099;
	text-decoration: none;
}
#menu ul li.current-page-item, #menu ul li.sep {
	padding: 2px 0;
}
#menu ul li a:hover {
	background: none;
	text-decoration: underline;
	color: #000099;
}
#gsa-header a{color:#000099; text-decoration:none;}

#gsa-header a:hover{text-decoration: underline; color:#000099;}

/* GSA FOOTER */

/****************************Footer Styles *********************************/
#gsa-footer {
	background:url(http://gsa.gov/resources/images/doubleline_hdr.gif) repeat-x 0 0;
	padding:11px;
	margin-top:9px;
	clear:both;
	text-align:center;
}

#gsa-footer a {
	color:#666;
	font-size:.8em;
}

#gsa-footer a:hover {
	text-decoration:underline;
}

#gsa-footer ul#footer_navigation li {
	background:none;
	display:inline;
	border-right:1px #666 solid;
	padding:0 10px 2px;
}

#gsa-footer ul#footer_navigation li.last {
	border-right:none;
}

#gsa-footer img {
	margin-right:7px;
}

#gsa-footer td {
	font-size:.8em;
	color:#666;
}

#gsa-footer span a:link,#gsa-footer span a:visited {
	padding:0 5px;
}

#gsa-footer span.footerLarge a:link,#gsa-footer span.footerLarge a:visited {
	color:#FFF!important;
	text-decoration:none!important;
}

#gsa-footer_icon {
	margin-top:12px;
}

#gsa-footer_icon span {
	position:relative;
	top:-5px;
	margin-right:11px;
	color:#666;
	font-size:.85em;
}

#in-this-gallery h5{
	display:block;
	background:#cfeafa;
	color:#333333;
	font-size: 18px;
	font-weight:bold;
	text-align:center;
	width:100%;
	clear:both;
	padding:5px;
}
/*.photo-caption span:empty:after,
.photo-credit span:empty:after{
	content:'none';
}*/
